/*Patti Liles - Assignment Module Three*/
/*January 27, 2020*/

/********** Base styles **********/
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
 }


body {
  font-size: 16px;
  color: black;
  font-family: Arial, Helvetica, Sans-serif;
  background-color: #fff;
 }


#main-content{
  position: relative;
  float:left;
  height: 100%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
 }

#Menu-Items{
  position: relative;
  background-color: #CFD8DC;
  border: 1px solid black;
  float:left;
  height: 100%;
  width: 100%;
  margin-bottom:15px;
  margin-right: 0px;
  margin-left: 0px;
 }

h1{
color: black;
}


h2 {
   vertical-align: middle; 
  }

h3 {
   margin-bottom: 20px;
  }

 
p{
  position: relative;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  padding: 2px;
  height:1000px;
}


/** HEADER of Navbar **/
#header-nav {
  position: relative;
  background-color: pink;
  border: 1px solid black;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
 }

.navbar-brand {
font-size: 2em;
color: black;
font-weight: Bold;
padding-top: 25px;
}

/*Formatting the list for navbar*/

#nav-list {
  margin-top: 10px;
  margin-bottom: 0px;
}

#nav-list a {
color: #F781F3;
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
}

#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.6em;
}


.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;}

/*This formats color of the button, three horizontal bars and boarder.*/
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #3C583A;  

}

/*button location moved up*/

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -35px;
  margin-right: 15px;
}

/********** Desk Top devices only *md*******/

@media (min-width: 992px) {

.col-md{float left;}

.col-md {
    width: 100%;
  }

#nav-list a{
display: none;
}

}

/********** Tablet devices only *sm*******/
@media (min-width: 768px) and (max-width: 991px) {

.col-sm{float left;}

.col-sm {
    width: 100%;
  }

#nav-list a{
display: none;
}
}

/********** Mobile devices only *xs*******/
@media (max-width: 767px) {

.col-xs{float left;}

.col-xs {
    width: 100%;
  }

#nav-list a{
font-size: 18px;
color: black;
font-weight: Bold;
}

#collapsable-nav{
margin-bottom: 0;
border: 1px solid black;
background-color: #F781F3;
}

#main-content{
padding-left: 45px;
padding-right: 55px;
}

}